<mat-toolbar color="primary" class="navbar">
  <div class="logoContainer">
    <a routerLink="/">
      <img src="assets/Logo.png" alt="E-Commerce Logo" class="logo" />
    </a>
  </div>

  <span class="search">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search</mat-label>
      <input type="text" matInput [(ngModel)]="searchText" (ngModelChange)="searchSubject.next($event)"
        [matAutocomplete]="auto" (keydown.enter)="goToSearchResults()" placeholder="Type to search" />
        <button mat-icon-button matSuffix (click)="goToSearchResults()" >
      <mat-icon matSuffix style="cursor: pointer;" >search</mat-icon>
      </button>
    </mat-form-field>
  </span>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let product of filteredProducts" [value]="product._id">
      <img [src]="product.imageUrl" alt="{{ product.productName }}" class="product-image" />
      <span>{{ product.productName }}</span>
    </mat-option>
  </mat-autocomplete>

  <span class="nav-links">
    <button mat-button routerLink="">Home</button>
    <button *ngIf="isSellerLogin" mat-button routerLink="/product-card">Add product</button>
    <button *ngIf="!isSellerLogin" mat-button routerLink="/sellerSignup">Become seller</button>
  </span>

  <div class="spacer">
    <span *ngIf="!isSellerLogin" class="cart">
      <button mat-icon-button [routerLink]="'/cart'" aria-label="Cart">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-count" *ngIf="cartItems !==0">{{ cartItems }}</span>
      </button>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <ng-container *ngIf="isBuyerLogin || isSellerLogin; else loginOption">
        <div class="user-info">
          <p><strong>{{ userEmail }}</strong></p>
        </div>
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item (click)="goToMyAccount()">My account</button>
        <button mat-menu-item (click)="goToMyOrders()">My orders</button>
      </ng-container>

      <ng-template #loginOption>
        <button mat-menu-item routerLink="/buyerLogin">Login</button>
      </ng-template>
    </mat-menu>
    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button *ngIf="isSellerLogin" mat-menu-item routerLink="/app-seller-add-prod">Add product</button>
    <button *ngIf="!isSellerLogin" mat-menu-item routerLink="/sellerSignup">become seller</button>
  </mat-menu>
</mat-toolbar>

<div class="mobile-search">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input type="text" matInput [(ngModel)]="searchText" (ngModelChange)="searchSubject.next($event)"
        [matAutocomplete]="auto" (keydown.enter)="goToSearchResults()" placeholder="Type to search" />
    <button mat-icon-button matSuffix (click)="goToSearchResults()" >
      <mat-icon matSuffix style="cursor: pointer;" >search</mat-icon>
      </button>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let product of filteredProducts" [value]="product._id">
      <img [src]="product.imageUrl" alt="{{ product.productName }}" class="product-image" />
      <span>{{ product.productName }}</span>
    </mat-option>
  </mat-autocomplete>
</div>