.logo {
    width: 96px;
    height:48px;
    object-fit: fill;

}

.navbar {
    display: flex; /* use flex, not inline-flex */
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap; /* allows better responsive shrinking */
}

/* Center-align search bar while keeping other elements in place */
.search {
    flex-grow: 1;
    max-width: 400px; /* limit width so it doesn't stretch too much */
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
.search mat-form-field {
    width: 100%;
    min-width: 200px; /* increase a bit */
}


/* Push menu and buttons to the right */
.nav-links {
    display: inline-flex;
    gap: 8px;
    margin-left: auto;
    margin-bottom: 10px;
}

/* Ensure the cart icon stays aligned */
.cart {
    position: relative;
    margin-left: 5px;
}
.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.nav-links button {
    font-size: 18px; /* Adjust font size for buttons */
    padding: 12px 15px; 
}   
/* Responsive Design */
@media (max-width: 770px) {
    .search {
        width: 60%;
        justify-content: flex-start; /* Align search to the left on small screens */
    }
    .nav-links {
        display: none; /* Hide navigation links on smaller screens */
    }
    .search mat-form-field {
        width: 100%;
        min-width: 200px; /* increase a bit */
    }
    .menu-btn {
        display: block;
    }
}
@media (max-width: 480px) {
    .search {
        width: 32%;
        justify-content: flex-start; /* Align search to the left on small screens */
    }
    .search mat-form-field {
        width: 100%; /* Set width for a balanced look */
        min-width: 128px;
    }
    .nav-links {
        display: none; /* Hide navigation links on smaller screens */
    }

    .menu-btn {
        display: block;
    }
    .logo {
        width: 50px;
        height:40px;
        object-fit: fill; /* Ensures the full image is visible */
    }
    .navbar {
        display: flex; /* use flex, not inline-flex */
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        flex-wrap: wrap; /* allows better responsive shrinking */
    }
}

@media (min-width: 771px) {
    .menu-btn {
        display: none; /* Hide menu button on larger screens */
    }
}
