<mat-toolbar color="primary" class="navbar">
    <!-- LOGO -->
    <img [src]='logoUrl' routerLink=""  alt="E-Commerce Logo" class="logo">
    <!-- SEARCH BAR -->
    <span class="search">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input type="text" matInput 
                 [(ngModel)]="searchText"
                 [matAutocomplete]="auto"
                 (input)="onSearchInput()"
                 placeholder="Type to search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </span>
      
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
        <mat-option *ngFor="let product of filteredProducts" [value]="product.id">
            <img [src]="product.imageUrl" alt="{{ product.productName }}" class="product-image" />
            <span>{{ product.productName }}</span>
        </mat-option>
      </mat-autocomplete>
    <span class="nav-links">
        <button mat-button routerLink="">Home</button>
        <button *ngIf="isSellerLogin" mat-button routerLink="/app-seller-add-prod">Add product</button>
        <button *ngIf="!isSellerLogin" mat-button routerLink="/sellerSignup">Become seller</button>
        <button *ngIf="isSellerLogin" mat-button (click)="logout()">log-out</button>
        <button mat-button routerLink="/buyerLogin">login</button>
    </span>

    <!-- CART ICON -->
    <span class="cart">
        <button mat-icon-button >
            <mat-icon>shopping_cart</mat-icon>
            <span class="cart-count">{{ cartItems }}</span>
        </button>
    </span>

    <!-- MENU BUTTON -->
    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="mobileMenu">
        <mat-icon>menu</mat-icon>
    </button>
    
    <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item routerLink="">Home</button>
        <button *ngIf="isSellerLogin" mat-menu-item routerLink="/app-seller-add-prod">Add product</button>
        <button *ngIf="!isSellerLogin" mat-menu-item routerLink="/sellerSignup">become seller</button>
        <button *ngIf="isSellerLogin" mat-menu-item (click)="logout()">log-out</button>
        <button mat-menu-item routerLink="/buyerLogin">login</button>
    </mat-menu>
</mat-toolbar>
