<mat-toolbar color="primary" class="navbar">
    <!-- LOGO -->
    <img [src]='logoUrl' routerLink=""  alt="E-Commerce Logo" class="logo">
    <!-- SEARCH BAR -->
    <span class="search">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchText" placeholder="Type to search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </span>
    <span class="nav-links">
        <button mat-button routerLink="">Home</button>
        <button *ngIf="isSellerLogin" mat-button routerLink="/app-seller-add-prod">Add product</button>
        <button mat-button routerLink="/sellerSignup">Seller</button>
        <button mat-button routerLink="/buyerSignup">Sign-in</button>
    </span>

    <!-- CART ICON -->
    <span class="cart">
        <button mat-icon-button >
            <mat-icon>shopping_cart</mat-icon>
            <span class="cart-count">{{ cartItems }}</span>
        </button>
    </span>

    <!-- MENU BUTTON -->
    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="mobileMenu">
        <mat-icon>menu</mat-icon>
    </button>
    
    <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item routerLink="">Home</button>
        <button mat-menu-item routerLink="/app-seller-add-prod">Add product</button>
        <button mat-menu-item routerLink="/signup/seller">Seller</button>
        <button mat-menu-item routerLink="/signup/buyer">Sign-in</button>
    </mat-menu>
</mat-toolbar>
