<div class="search-container">
    <div class="input-group search-wrapper">
        <input type="text" class="form-control search-input" [(ngModel)]="searchText"
            (ngModelChange)="searchSubject.next($event)" (keydown.enter)="goToSearchResults()"
            [placeholder]="placeholder" #searchInput autocomplete="off">

        <button class="btn search-btn" type="button" (click)="goToSearchResults()">
            <svg width="26" height="26" viewBox="0 0 24 24" fill="currentColor">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 
            16 11.11 16 9.5 16 5.91 13.09 3 
            9.5 3S3 5.91 3 9.5 5.91 16 
            9.5 16c1.61 0 3.09-.59 
            4.23-1.57l.27.28v.79l5 
            4.99L20.49 19l-4.99-5zm-6 
            0C7.01 14 5 11.99 5 9.5S7.01 
            5 9.5 5 14 7.01 14 9.5 
            11.99 14 9.5 14z" />
            </svg>
        </button>
    </div>

    <!-- Autocomplete Dropdown -->
    <div class="autocomplete-dropdown" *ngIf="filteredProducts.length > 0 && searchText">
        <div class="autocomplete-list">
            <div *ngFor="let product of filteredProducts" class="autocomplete-item" (click)="onOptionSelected(product)">
                <img [src]="product.imageUrl" alt="{{ product.productName }}" class="product-image" />
                <div class="product-details">
                    <div class="product-name">{{ product.productName }}</div>
                </div>
            </div>
        </div>
    </div>
</div>