<mat-card class="Signin-card">
    <h2>Sign In</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Enter your email">
            <mat-error *ngIf="signinForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="signinForm.get('email')?.hasError('email')">
                Enter a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Create Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Enter your password">
            <mat-error *ngIf="signinForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="signinForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your password">
            <mat-error *ngIf="signinForm.get('confirmPassword')?.hasError('required')">
                Confirm Password is required
            </mat-error>
            <mat-error *ngIf="signinForm.hasError('passwordMismatch')">
                Passwords do not match
            </mat-error>
        </mat-form-field>

        <button mat-button color="primary" class="full-width" type="submit" [disabled]="signinForm.invalid">
            Sign In
        </button>
    </form>
</mat-card>
