.picsum-img-wrapper {
    width: 100%;
    height: 500px; /* adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f8f8f8; /* optional: to fill space before image loads */
  }
  
  .picsum-img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  