<ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
    @for (product of productsCarousel; track product; let i = $index) {
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="product.imageUrl" alt="Product image" />
        </div>
        <div class="carousel-caption">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
        </div>
    </ng-template>
    }
</ngb-carousel>

<h1>Trendy Products</h1>

<div class="product-container">
    <mat-card *ngFor="let product of products" class="product-card">
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.productName }}" (click)="viewProduct(product)" />
        <mat-card-title>{{ product.productName}}</mat-card-title>
        <mat-card-content>
            <div class="price-info">
                <ng-container *ngIf="product.discountAmt == 0">
                    <span> ₹{{ getSellingPriceInclTax(product.priceExclTax , product.taxRate) }}</span>
                </ng-container>
                <ng-container *ngIf="product.discountAmt > 0">
                    <span class="mrp"> ₹{{ getSellingPriceInclTax(product.priceExclTax , product.taxRate) }}</span>
                    <span class="discounted-price">
                        ₹{{ getDiscountedPrice(product.discountAmt) }}
                    </span>
                    <span class="offer">({{ getDiscountPercentage(product.discountAmt)}}% off)</span>
                </ng-container>
            </div>
            <p><strong>Description:</strong> {{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="addToCart(product._id!)">Add To Cart</button>
        </mat-card-actions>
    </mat-card>
</div>