body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container,
.container-fluid {
    max-width: 100% !important;
    padding: 0 0rem;
}

.row {
    margin: 0 !important;
}

/* carousel CSS */
.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;
}